@charset "UTF-8";



.header{
    display: flex;
    width: 100%;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
}

.header-link{
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 30px;
}

.header-link1{
    margin-top: 2%;
    margin-left: 45%;
}

.card-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 4em 4em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.form-group{
    
    margin-bottom: 3em;
}

.btn-form{
    background-color: #fff;
    border: solid 2px #2f4f4f;
    color: #2f4f4f;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    margin: auto;
}

.form{
    width: fit-content;
    margin: auto;
}

label{
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.text-center{
    display:flex; justify-content: center; margin-top: 1em;
}

<!--main-->
.top-main{
    width:100%;
}

.top-head{
    display:flex;
    justify-content: center;
}

.btn{
    background-color: #fff;
    border: double 6px #3cb371;
    color: #3cb371;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    margin-right: 5em;
    margin-top: 5em;
    }

.post-box{
    padding:2em;/*内側余白*/
	border:double 7px #afb9cf;/*線の種類・太さ・色*/
    margin-top: 2em;
    margin-left: 1em;
    width: 30%;
    margin: 0 auto;
}

.scop, .scops{
    padding-bottom: 1.5em;
}

.scops{
    padding-left: 1em;
}

.form-control{
    font-size: 1em;
    height: 20px;
    width: 40%;
}

.btn_detail{
    background-color: #ffd700;
    color: #000;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 5px 0 #b8860b;
    margin-left: 35px;
}

.tables{
    margin-left: 30px;
}

.search_bar{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
}